<nav class="navbar bg-primary">
  <span style="font-size: 30px; cursor: pointer; color: #fff;" (click)="toglleNav()">&#9776;</span>
  <span style="color: #fff; font-size: 25px;">{{ titulo }}</span>
  <ul class="nav justify-content-end">
    <li>
      <em (click)="menu.toggle($event)" class="pi pi-ellipsis-v opcoes"></em>
    </li>
  </ul>
</nav>
<p-menu #menu [popup]="true" [model]="items"></p-menu>

<nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
    <h2>{{ usuario?.nome }}</h2>
  </header>
  <p-panelMenu [model]="itemMenu"></p-panelMenu>
</nav>
