<div class="row">
  <div class="col-md-12 mb-5 mt-1">
    <div class="col-md-4 mx-auto text-center">
      <img height="60px" src="assets/img/pointdojogador.png" alt="" />
    </div>
  </div>
</div>
<div class="combo-loading" *ngIf="loading">
  <div class="carregando">
    <ul class="text-center">
      <li class="carregando-li"><div class="animate-me"></div></li>
      <li class="carregando-li"><div class="animate-me"></div></li>
      <li class="carregando-li"><div class="animate-me"></div></li>
    </ul>
    <div class="text-loading">
      <p class="paragrafo-loading" style="text-align: center;">Carregando...</p>
    </div>
  </div>
</div>
<div class="login-page">
  <div class="card login-card">
    <form class="login-form" #f="ngForm" (ngSubmit)="onSubmit()">
      <span class="col-md-12 mt-4 ui-float-label">
        <input id="float-input" type="email" [(ngModel)]="usuario.email" name="email" required pInputText />
        <label for="float-input">Email</label>
      </span>
      <span class="col-md-12 mt-4 ui-float-label">
        <input id="float-input" type="password" [(ngModel)]="usuario.senha" name="senha" required pInputText />
        <label for="float-input">Senha</label>
      </span>
      <button type="submit" class="btn" [disabled]="!f.valid">Entrar</button>
      <p class="message">Ainda não é cadastrado? <a href="#">Crie uma conta agora</a></p>
    </form>
  </div>
</div>
