<div>

  <h4 class="mb-4 text-muted"> Perfil </h4>


  <div class="row">
    <div class="col-md-12 mb-4 ">

      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5> Solicitar Créditos </h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group row">
              <label for="codigo" class="col-sm-2 col-form-label font-weight-bold">Código</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="codigo" name="codigo"
                  ngModel="{{ (usuarioService.usuario$ | async)?.id }}">
              </div>
            </div>

            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label font-weight-bold">E-mail</label>
              <div class="col-sm-10">
                <div class="input-group-prepend">
                  <input type="text" class="form-control" id="email" aria-describedby="inputGroupPrepend"
                    name="email" ngModel="{{ (usuarioService.usuario$ | async)?.email }}" disabled>
                </div>
              </div>
            </div>

            <div class="form-group row" >
              <label for="valorSolicitado" class="col-sm-2 col-form-label font-weight-bold">Valor</label>
              <div class="col-sm-10">
                <div class="input-group-prepend" >
                  <input type="text" class="form-control" value aria-describedby="inputGroupPrepend"
                  [(ngModel)]="saldoUsuario.valorSolicitado" id="valorSolicitado" name="valorSolicitado" >
                </div>
              </div>
            </div>

            <div class="form-group"> 
              <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="solicitarCredito()" >Salvar</button>
              <button type="button " class="btn btn-outline-lightning rounded-0 mb-2" routerLink="/dashboard">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="col-md-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Histórico</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <td align="left" style="font-weight: bold">Valor Solicitado</td>
                  <td align="left" style="font-weight: bold">Data Solicitacao</td>
                  <td align="left" style="font-weight: bold">Data Liberacao</td>
                  <td align="left" style="font-weight: bold"> Liberação </td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let saldoUsuario of itensSaldos">
                  <td class="col-md-2 text-left">
                    {{saldoUsuario.valorSolicitado}}
                  </td>
                  <td class="col-md-1 text-left">
                    {{saldoUsuario.tsSolicitacao}}
                  </td>
                  <td class="col-md-1 text-left">
                    {{saldoUsuario.tsLiberacao}}
                  </td>
                  <td class="col-md-2 text-left">
                    <div *ngIf="saldoUsuario.indicadorLiberacao" class="checkbox icheck-success">
                      <input  [checked]="saldoUsuario.indicadorLiberacao" type="checkbox"  id="{{saldoUsuario.indicadorLiberacao}}" name="indicadorLiberacao" disabled /> <label for="{{saldoUsuario.indicadorLiberacao}}"></label>
                    </div>
                    <div *ngIf="!saldoUsuario.indicadorLiberacao" class="checkbox icheck-danger">
                      <input  [checked]="true" type="checkbox"  id="{{saldoUsuario.indicadorLiberacao}}" name="indicadorLiberacao" disabled /> <label for="{{saldoUsuario.indicadorLiberacao}}"></label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>



  </div>
<div>