<div class="row">
  <div class="col-md-12">

    <div class="jumbotron">
      <h1 class="display-4">Bem vindo, {{ (usuarioService.usuario$ | async)?.nome }}</h1>
      <p class="lead">Para efetivar seus jogos entre em contato com um de nossos consultores e Boa Sorte!</p>

      <a class="btn btn-primary btn-lg" routerLink="/jogador" role="button">Continuar</a>
      &nbsp;
      <a class="btn btn-success btn-lg"  routerLink="/painelAdminstrador" role="button"  >Painel Administrador</a>

    </div>

  </div>
  
  

</div>