.card-jogos {
    width: 87%;
  }
  
  .carregando-jogos {
    margin: 100px auto;
    height: 30vh;
    margin-top: 10%;
  }
  
  .icon-user {
    font-size: 50px;
  }
  
  .detalhes {
    text-align: right;
    margin-left: auto;
    padding: 2px;
    margin-top: 3%;
  }
  
  .card-usuario {
    color: #66948b;
    margin-bottom: 7%;
  }
  
  input.add-creditos {
    width: 45%;
    margin: 0% !important;
  }
  
  button {
    padding: 4px;
    background: #52b586;
    width: 15%;
  }
  