<div class="row">
  <div class="container">
    <div class="col-12 col-md-10">
      <div class="card">
        <h3 class="card-header">Consultar Palpite</h3>
        <div class="card-body">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">

            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="idCartela" class="font-weight-bold">Cartela</label>
                <input type="text" readonly class="form-control-plaintext" id="idCartela" name="idCartela"
                  ngModel="{{palpiteUsuario.idCartela}}">
              </div>

              <div class="form-group col-md-5">
                <label for="numeroPalpite" class="font-weight-bold">Palpite</label>
                <input type="text" readonly class="form-control-plaintext" id="numeroPalpite" name="numeroPalpite"
                  ngModel="{{palpiteUsuario.numeroPalpite}}">
              </div>
            </div>

            <table class="table table-condensed table-striped ">
              <thead>
                <th class="col-md-1 text-center" colspan="3">Time Mandante</th>
                <th class="col-md-1 text-center">X</th>
                <th class="col-md-1 text-center" colspan="3">Time Vistante</th>
              </thead>
              <tbody>
                
              </tbody>
            </table>

            <div class=text-right>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm" routerLink="/adicionarPalpites">Voltar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>  