<div class="row">
  <div class="col-md-12 mb-5 mt-1">
    <div class="col-md-4 mx-auto text-center">
      <img height="60px" src="assets/img/pointdojogador.png" alt="" />
    </div>
  </div>

  <div class="col-md-5 mx-auto">
    <div class="card">
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
          <span class="col-md-12 mt-4 ui-float-label">
            <input id="float-input" type="text" [(ngModel)]="usuario.nome" name="nome" required pInputText />
            <label for="float-input">Nome</label>
          </span>

          <span class="col-md-12 mt-4 ui-float-label">
            <input id="float-input" type="email" [(ngModel)]="usuario.email" name="email" email required pInputText />
            <label for="float-input">Email</label>
          </span>

          <span class="col-md-12 mt-4 ui-float-label">
            <input
              id="float-input"
              type="contato"
              [(ngModel)]="usuario.contato"
              name="contato"
              contato
              required
              pInputText
            />
            <label for="float-input">Contato</label>
          </span>

          <span class="col-md-12 mt-4 ui-float-label">
            <p-autoComplete
              [(ngModel)]="usuario.timeFavorito"
              [suggestions]="listaTimes"
              (completeMethod)="filtrarTimes($event)"
              [size]="30"
              [minLength]="1"
              [dropdown]="true"
              [ngModelOptions]="{ standalone: true }"
              id="float-input"
              field="nomeTime"
            >
              <ng-template let-time pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom: 1px solid #d5d5d5;">
                  <img [src]="time.UrlEscudo" style="width: 32px; display: inline-block; margin: 5px 0 2px 5px;" />
                  <div style="font-size: 18px; float: right; margin: 10px 10px 0 0;">{{ time.nomeTime }}</div>
                </div>
              </ng-template>
            </p-autoComplete>
            <label for="float-input">Digite ou selecione o time</label>
          </span>

          <span class="col-md-12 mt-4 ui-float-label">
            <input id="float-input" type="password" [(ngModel)]="usuario.senha" name="senha" required pInputText />
            <label for="float-input">Senha</label>
          </span>

          <div class="form-check mb-4 mt-4">
            <input type="checkbox" name="success" id="termos" [(ngModel)]="termoUsuario" name="termoUsuario" />
            <label for="termos">Li e concordo com os termos de uso.</label>
          </div>
          <div class="col-sm-12">
            <button type="submit" class="btn float-right" [disabled]="!f.valid || !termoUsuario">
              Cadastrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
