/* You can add global styles to this file, and also import other style files */
@import url('assets/toastr.css');
@import url('assets/icheck-bootstrap.min.css');

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(assets/img/bg_fundo1.jpg);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.ui-float-label > label {
  color: #fff !important;
}

input {
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 3px;
  background: transparent;
  color: white;
  width: inherit !important;
  margin: 2% !important;
}

.ui-float-label {
  display: inline-grid !important;
}

.card {
  position: relative;
  z-index: 1;
  background: rgba(245, 247, 245, 0.7);
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.card button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.card button:hover,
.card button:active,
.card button:focus {
  background: #43a047;
}
.card .message {
  margin: 15px 0 0;
  color: #5a5a5a;
  font-size: 12px;
}
.card .message a {
  color: #4caf50;
  text-decoration: none;
}
