.button-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.button-secondary:hover {
  color: #fff;
  background-color: #879097;
  border-color: #6c757d;
}

.card-cartela input {
  background: white !important;
}

.card-cartela textarea {
  background: white !important;
  border: none;
}
