<div class="card">
  <h3 class="card-header texto">Cadastrar Cartela</h3>
  <div class="card-body card-cartela">
    <form (ngSubmit)="onSubmit(f)" class="d-flex justify-content-between justify-content-center" #f="ngForm">
      <span class="ml-2 ui-float-label">
        <input type="text" readonly id="codigo" name="codigo" required pInputText />
        <label for="codigo">Cartela</label>
      </span>

      <span class="ml-2 ui-float-label">
        <input
          required
          pInputText
          type="text"
          [(ngModel)]="cartela.dataInicio"
          name="dataInicio"
          required
          id="data-inicio"
        />
        <label for="data-inicio">Data Inicio</label>
      </span>

      <span class="ml-2 ui-float-label">
        <input required pInputText type="text" [(ngModel)]="cartela.dataFim" name="dataFim" required id="data-fim" />
        <label for="data-fim">Data Fim</label>
      </span>

      <span class="ml-2 ui-float-label">
        <textarea
          type="text"
          rows="1"
          [(ngModel)]="cartela.descricao"
          name="descricao"
          required
          pInputTextarea
        ></textarea>
        <label for="data-fim">Descrição</label>
      </span>

      <div class="text-right">
        <div class="btn-group" role="group">
          <button type="button" class="mr-2 btn button-secondary" routerLink="/painelAdminstrador">Voltar</button>
          <button type="submit" class="btn btn-success btn-sm" routerLink="">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <h3 class="card-header texto">Cartelas</h3>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <td align="left" style="font-weight: bold;">Número Cartela</td>
            <td align="left" style="font-weight: bold;">Data Inicio</td>
            <td align="left" style="font-weight: bold;">Data Fim</td>
            <td align="left" style="font-weight: bold;">Descrição</td>
            <td align="center" style="font-weight: bold;">Ações</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cartela of itensCartela">
            <td class="col-md-2 text-left">
              {{ cartela.idCartela }}
            </td>
            <td class="col-md-1 text-left">
              {{ cartela.dataInicio }}
            </td>
            <td class="col-md-1 text-left">
              {{ cartela.dataFim }}
            </td>
            <td class="col-md-2 text-left">
              {{ cartela.descricao }}
            </td>
            <td class="col-md-2 text-center">
              <button (click)="cadastrarJogos(cartela)" class="btn btn-success btn-sm">Cadastra Jogos</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
