<div class="row">
  <div class="col-12 col-md-6">
    <div class="card">
      <h3 class="card-header">Cadastrar Palpites</h3>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-row">
            <div class="form-group col-md-1">
              <label for="codigo" class="font-weight-bold">Código</label>
              <input type="text" readonly class="form-control-plaintext" id="codigo" name="codigo"
                ngModel="{{ (usuarioService.usuario$ | async)?.id }}">
            </div>



            <div class="form-group col-md-4">
              <label for="nome" class="font-weight-bold">Nome</label>
              <input type="text" readonly class="form-control-plaintext" id="nome"
                value="{{ (usuarioService.usuario$ | async)?.nome }}">
            </div>



            <div class="form-group col-md-4">
              <label for="email" class="font-weight-bold">E-mail</label>
              <input type="text" readonly class="form-control-plaintext" id="email"
                value="{{ (usuarioService.usuario$ | async)?.email }}">
            </div>



            <div class="form-group col-md-3">
              <label for="contato" class="font-weight-bold">Contato</label>
              <input type="text" readonly class="form-control-plaintext" id="contato"
                value="{{ (usuarioService.usuario$ | async)?.contato }}">
            </div>
          </div>

            <table class="table table-condensed table-striped ">
              <thead>
                <th class="col-md-1 text-center" colspan="3">Time Mandante</th>
                <th class="col-md-1 text-center">X</th>
                <th class="col-md-1 text-center" colspan="3">Time Vistante</th>
              </thead>
              <tbody>
                <tr *ngFor="let itens of itensJogos; let i = index">
                  <td class="col-md-1 text-left">
                    <div class="checkbox icheck-success">
                      <input  [(ngModel)]="mandante[i]" type="checkbox" id="{{itens.idTimeMandante}}" name="mandante" /> <label for="{{itens.idTimeMandante}}"></label>
                    </div>
                  </td>
                  <td class="col-md-1 text-left">
                    <img src="{{itens.UrlEscudoMandante}}">
                  </td>
                  <td class="col-md-1 text-left"> {{itens.nomeAbvdMandante}} </td>
                  <td class="col-md-1 text-center">
                    <div class="checkbox icheck-success">
                     
                      <input  [(ngModel)]="empate[i]" type="checkbox"  id="{{i + 100}}" name="empate" /> <label for="{{i + 100}}"></label>
                    </div>
                  </td>
                  <td class="col-md-1 text-right">
                    <img src="{{itens.UrlEscudoVisitante}}">
                  </td>
                  <td class="col-md-1 text-right"> {{itens.nomeAbvdVisitante}} </td>
                  <td class="col-md-1 text-right">
                    <div class="checkbox icheck-success">
                      <input  [(ngModel)]="visitante[i]" type="checkbox" id="{{itens.idTimeVisitante}}" name="visitante" /> <label for="{{itens.idTimeVisitante}}"></label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          <div class=text-right>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary btn-sm" routerLink="/jogador">Voltar</button>
              <div>&nbsp;</div> 
              <button class="btn btn-success btn-sm" (click)="cadastrarPalpites()">Salvar</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-5">
    <div class="card">
      <h3 class="card-header">Palpites</h3>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <td align="left" style="font-weight: bold">Número Cartela</td>
              <td align="left" style="font-weight: bold">Numero Palpite</td>
              <td align="center" style="font-weight: bold">Liberado</td>
              <td align="center" style="font-weight: bold">  </td>
              <td align="center" style="font-weight: bold">  </td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let palpite of listaPalpite">
              <td class="col-md-1 text-left">
                {{palpite.idCartela}}
              </td>
              <td class="col-md-1 text-left">
                {{palpite.numeroPalpite}}
              </td>
              <td class="col-md-1 text-center">
                <div *ngIf="palpite.palpiteLiberado" class="checkbox icheck-success">
                  <input  [checked]="palpite.palpiteLiberado" type="checkbox"  id="{{palpite.palpiteLiberado}}" name="palpiteLiberado" disabled /> <label for="{{palpite.palpiteLiberado}}"></label>
                </div>
                <div *ngIf="!palpite.palpiteLiberado" class="checkbox icheck-danger">
                  <input  [checked]="true" type="checkbox"  id="{{palpite.palpiteLiberado}}" name="palpiteLiberado" disabled /> <label for="{{palpite.palpiteLiberado}}"></label>
                </div>
               
              </td>
              <td class="col-md-1 text-center">
                <button class="btn btn-success btn-sm" (click)="consultarPalpites(palpite)">Palpites</button>
              </td>
              <td class="col-md-1 text-center">
                <button class="btn btn-success btn-sm" (click)="excluirPalpite(palpite)">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      </div>
    </div>
  </div>
</div>