.texto-time {
  font-size: larger;
}

.card-palpite {
  margin: 0 auto 0;
}

.card-palpite button {
  width: auto;
}

.card-palpite button.btn-ver-palpites {
  background-color: #5d5c5c;
}

.card-palpite button.btn-ver-palpites:hover {
  background-color: #383636;
}

.btn-palpite {
  background-color: red;
}
/* teste */
.toggle-button {
  margin: 0 7px;
}

:host ::ng-deep .ui-button {
  margin: 0.5em 0.5em 0.5em 0;
  width: 140px;
}
@media screen and (max-width: 40em) {
  :host ::ng-deep .ui-dialog {
    width: 75vw !important;
  }
}

.numero {
  text-align: center;
  padding-top: 22px;
  line-height: 15px;
  height: 85px;
  width: 85px;
  font-size: 20px;
  float: left;
  margin: 0 20px;
  font-weight: bold;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  background: #52b586;
  color: #fff;
  box-shadow: 0 0 0 1px #fff inset;
  border: 2px solid #66cc99;
}

p span {
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 12%;
}

.carregando-palpites {
  margin: 100px auto;
  height: 35vh;
  margin-top: 5%;
}
/*
 * Toggle button styles
 */
.toggle-button {
  position: relative;
  display: inline-block;
  color: #fff;
}
.toggle-button label {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
}
.toggle-button input {
  display: none;
}
.toggle-button__icon {
  cursor: pointer;
  pointer-events: none;
}
.toggle-button__icon:before,
.toggle-button__icon:after {
  content: '';
  position: absolute;
  top: 45%;
  left: 35%;
  transition: 0.2s ease-out;
}

/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--aava label {
  height: 35px;
  line-height: 35px;
  transition: all 0.2s;
  border-radius: 2rem;
}
.toggle-button--aava label:before,
.toggle-button--aava label:after {
  position: absolute;
  right: 0.5rem;
  transition: all 0.2s 0.1s ease-out;
  font-size: 13px;
}
.toggle-button--aava label:before {
  content: attr(data-text);
}
.toggle-button--aava label:after {
  content: attr(data-off-text);
}

.toggle-button--aava input[type='checkbox'] + label {
  width: 6.5em;
  background: #ff5335;
}
.toggle-button--aava input[type='checkbox'] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.toggle-button--aava input[type='checkbox'] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}

.toggle-button--aava input[type='checkbox']:checked ~ label {
  width: 6.5em;
  background: #61b136;
}
.toggle-button--aava input[type='checkbox']:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--aava input[type='checkbox']:checked ~ label:after {
  opacity: 0;
  transform: translate(0, -20px);
}

.toggle-button--aava input[type='checkbox']:checked ~ .toggle-button__icon:before {
  transform: translate(-10%, 100%) rotate(45deg);
  width: 13.66667px;
}

.toggle-button--aava input[type='checkbox']:checked ~ .toggle-button__icon:after {
  transform: translate(30%) rotate(-45deg);
}

.toggle-button--aava .toggle-button__icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 15px;
}
.toggle-button--aava .toggle-button__icon:before,
.toggle-button--aava .toggle-button__icon:after {
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.toggle-button--aava .toggle-button__icon:before {
  width: 20px;
  transform: rotate(45deg);
}
.toggle-button--aava .toggle-button__icon:after {
  width: 20px;
  transform: rotate(-45deg);
}

/* empate */
.toggle-button--empate label {
  height: 35px;
  line-height: 35px;
  transition: all 0.2s;
  border-radius: 2rem;
}
.toggle-button--empate label:before,
.toggle-button--empate label:after {
  position: absolute;
  right: 0.5rem;
  font-size: 13px;
}
.toggle-button--empate label:before {
  content: attr(data-text);
}
.toggle-button--empate label:after {
  content: attr(data-off-text);
}

.toggle-button--empate input[type='checkbox'] + label {
  width: 6.5em;
  background: #a8a7a7;
}
.toggle-button--empate input[type='checkbox'] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.toggle-button--empate input[type='checkbox'] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}

.toggle-button--empate input[type='checkbox']:checked ~ label {
  width: 6.5em;
  background: #61b136;
}
.toggle-button--empate input[type='checkbox']:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--empate input[type='checkbox']:checked ~ label:after {
  opacity: 0;
  transform: translate(0, -20px);
}

.toggle-button--empate input[type='checkbox']:checked ~ .toggle-button__icon:before {
  transform: translate(-10%, 100%) rotate(45deg);
  width: 13.66667px;
}

.toggle-button--empate input[type='checkbox']:checked ~ .toggle-button__icon:after {
  transform: translate(30%) rotate(-45deg);
}

.toggle-button--empate .toggle-button__icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 15px;
}
.toggle-button--empate .toggle-button__icon:before,
.toggle-button--empate .toggle-button__icon:after {
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.toggle-button--empate .toggle-button__icon:before {
  width: 20px;
  transform: rotate(45deg);
}
.toggle-button--empate .toggle-button__icon:after {
  width: 20px;
  transform: rotate(-45deg);
}
