<div class="row">
  <div class="col-md-12 mb-4">
    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3">
        <h5>Pendencia de liberação de Crédito</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive-md">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nome Jogador</th>
                  <th>E-mail</th>
                  <th>Contato</th>
                  <th >Valor Solicitado</th>
                  <th >Liberar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pendencia of saldoPendenciaUsuarioArray">
                  <td class="align-middle">
                    {{pendencia.nome}}
                  </td>
                  <td class="align-middle">
                    {{pendencia.email}}
                  </td>
                  <td class="align-middle">
                    {{pendencia.contato}}
                  </td>
                  <td class="align-middle">
                    {{pendencia.valorSolicitado}}
                  </td>
                  <td class="align-middle">
                    <div >
                      <a class="btn btn-sm " (click)="liberarCredito(pendencia)">
                      <i class="fa fa-thumbs-up" style='font-size:48px;color:rgb(21, 255, 0)' aria-hidden="true"></i>
                    </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

